    <div class="container">

      <!-- ORDER BY BUTTON DROPDOWN -->
      <input type="text" ng-model="valueToOrderBy">

      <h2>Your score is {{score.value}}</h2>
      <div class="jumbotron question" ng-repeat="question in quiz | orderBy: valueToOrderBy">
        <form action="">
          <h2>{{question.q}}</h2>
          <button class="btn btn-danger" ng-repeat="option in question.options" ng-click="checkAnswer(option.value, question)" ng-class="{'disabled' : question.answered}">{{option.value}}</button>
        </form>
      </div>
      <button class="btn btn-info btn-submit">Submit</button>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->